@model Projeto.Presentation.Mvc.Models.DependenteConsultaModel

@{
    //definindo o layout da página
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Consulta de Dependentes</h2>
<hr />

@using (Html.BeginForm())
{
    <label>Nome do Dependente:</label>
    @Html.TextBoxFor(model => model.Nome,
        new
        {
            @class = "form-control col-md-4",
            @autocomplete = "off",
            @placeholder = "Digite aqui o filtro de busca"
        });
    <span class="text-danger">
        @Html.ValidationMessageFor(model => model.Nome)
    </span>
    <br />

    <input type="submit" value="Pesquisar Dependentes"
           class="btn btn-success" />
}

<br />

@if (Model != null && Model.Dependentes != null)
{
    if (Model.Dependentes.Count > 0)
    {
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome do Dependente</th>
                    <th>Data de Nascimento</th>
                    <th>Funcionário</th>
                    <th>Operações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Dependentes)
                {
                    <tr>
                        <td>@item.IdDependente</td>
                        <td>@item.Nome</td>
                        <td>@item.DataNascimento.ToString("dd/MM/yyyy")</td>
                        <td>
                            @item.Funcionario.Nome <br/>
                            Salário: @item.Funcionario.Salario.ToString("c") <br/>
                            Admissão: @item.Funcionario.DataAdmissao.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            <a href="/Dependente/Edicao/@item.IdDependente"
                               class="btn btn-primary btn-sm">
                                Atualizar
                            </a>
                            <a href="/Dependente/Exclusao/@item.IdDependente"
                               class="btn btn-danger btn-sm"
                               onclick="return confirm('Deseja excluir o dependente?');">
                                Excluir
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        Quantidade de dependentes: @Model.Dependentes.Count
                    </td>
                </tr>
            </tfoot>
        </table>
    }
    else
    {
        <span class="text-danger">Nenhum dependente foi encontrado.</span>
    }
}
